body{
    background-color: rgba(0, 0, 0, 0.096);
}

ul{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

li {
   /* // border: 2px solid black; */
    width: 90px;
    height: 90px;
    background-color: aqua;
    margin: 5px;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
 
    list-style-type: none;
    text-align: center;


}